body {
  font-family: 'PT Root UI', sans-serif;
  background-color: #181818;
  color: #fff;
}
.b-rub, .b-rub_tahoma {
  font-family: 'ALSRubl-Tahoma', Tahoma, sans-serif;
  line-height: normal;
}

.zone__header {
  background-color: #1a1a1a;
  min-height: 80px;
  position: relative;
  z-index: 100;

  &__logo {
    display: block;
  }

  &__menu {
    & > li:not(:last-child) {
      padding-right: 45px;
    }

    & > li {
      position: relative;
      z-index: 100;

      & > a {
        display: flex;
        height: 80px;
        align-items: center;

        &.dropdown-toggle {
          &:after {
            margin-left: 5px;
            border-top-color: #dafc01;
          }
        }

        &:hover,
        &.active,
        &.show {
          color: #fff;
        }

      }
    }

    a {
      @include fonts_f(16px, 20px);
      color: #a7a7a7;
      text-decoration: none;
    }

    .dropdown-menu {
      width: 260px;
      background-color: #0a0a0a;
      border-bottom: 1px solid #dafc01;
      padding: 10px 0;
      margin-left: -20px;
      margin-top: 0;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        width: 110px;
        height: 0;
        border-top: 5px solid #dafc01;
        border-right: 5px solid transparent;
      }

      .dropdown-item {
        padding: 5px 20px;
        display: block;
        font-size: 14px;

        &:hover,
        &:focus {
          color: #fff;
          background: transparent;
        }
      }
    }
  }
  .zone__header__ico {
    li {
      padding: 0 15px;
      a {
        color: #fff;
        display: flex;
        text-decoration: none;
        &:hover {
          color: $orange;
        }
      }
      button {
        color: #fff;
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        &:hover {
          color: $orange;
        }
        &:not(.collapsed) {
          color: $orange;
        }
      }
    }
  }
}

.nav--soc {
  align-items: center;
  justify-content: center;

  li {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    a {
      display: block;
      color: #dafd01;

      &:hover {
        svg {
          .soc-1 {
            fill: #dafd01 !important;
          }

          .soc-2 {
            fill: #1a1a1a !important;
            stroke-width: 0 !important;
            stroke-miterlimit: 0 !important;
          }
        }
      }
    }
  }
}

.zone__home-slider {
  position: relative;

  &__item {
    height: 600px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;

    &__title {
      @include fonts_f(48px, 50px);
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 20px;
      margin: 0;
    }

    &__adv {
      flex-direction: column;
      padding-bottom: 40px;

      li {
        padding-left: 30px;
        color: #a7a7a7;
        @include fonts_p(16px, 20px, 300);
        padding-bottom: 15px;
        position: relative;

        &::after {
          transform: rotate(45deg);
          content: "";
          display: block;
          width: 16px;
          height: 1px;
          background: #dafc01;
          position: absolute;
          top: 10px;
          left: 0;
        }
      }
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  transform: skew(-45deg);
  background-color: rgba(255, 255, 255, 0.251);
  width: 37px;
  height: 8px;

  &-active {
    background-color: #fff;
  }
}

.zone__btn {
  display: inline-flex;
  position: relative;
  padding: 0 30px 0 0;
  height: 48px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30px;
    height: 48px;
    background: url("../img/btn-bg.svg") 100% 50% no-repeat;
    background-size: auto 48px;
  }

  span {
    display: flex;
    position: relative;
    z-index: 10;
    height: 48px;
    background: url("../img/btn-bg.svg") 0 50% no-repeat;
    background-size: auto 48px;
    text-align: center;

    align-items: center;
    @include fonts_f(18px, 20px);
    text-transform: uppercase;
    padding-left: 30px;
    color: #dafc01;
  }

  &:hover {
    &::after {
      background-image: url("../img/btn-bg-hover.svg");
    }

    span {
      background-image: url("../img/btn-bg-hover.svg");
      color: #1a1a1a;
    }
  }
  &--w100 {
    width: 100%;
    display: flex;
    span {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
  &--h60 {
    height: 60px;
    padding: 0 45px 0 0;
    &::after {
      background-size: auto 60px;
      height: 60px;
      width: 45px;
    }
    span {
      background-size: auto 60px;
      height: 60px;
    }
  }
}

.tpad100 {
  padding-top: 100px;
}

.fpad30 {
  padding-bottom: 30px;
}

.zone__category-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  padding: 35px;
  height: 280px;
  @include fonts_f(24px, 30px);
  text-transform: uppercase;
  text-decoration: none;
  &--big {
    height: 590px;
  }
  &:hover {
    color: $orange;
  }
}
.zone__slider-product {
  position: relative;
  margin-bottom: 50px;
  &:not(.swiper-container-initialized) {
    .zone__slider-product__list {
      display: flex;
      flex-wrap: wrap;
      .swiper-slide {
        flex-basis: 25%;
      }
    }
  }
}
.zone__title {
  padding: 20px 0 50px;
  @include fonts_f(48px, 50px);
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.zone__wrap-slider__footer {
  display: flex;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding-top: 40px;
  .zone__slider-product__nav {
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-basis: 40px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
    &:hover {
      color: $orange;
    }
  }
  .zone__wrap-slider__footer__scroll {
    flex-grow: 1;
    flex-basis: 100px;
    padding: 0 35px;
    transform: skew(-45deg);
    .swiper-scrollbar {
      height: 1px;
      background-color: #a7a7a7;
    }
  }
}
.zone__item-product {
  padding: 10px;
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    z-index: 1;
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      position: relative;
      z-index: 5;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin: -10px 0 0 -10px;
      box-shadow: 0px 0px 80px 20px rgba(255,255,255,0.75);
      background-color: rgba(255,255,255,0.2);
    }
  }
  &__link {
    padding: 20px;
    display: block;
    background-color: #1e1e1e;
    text-decoration: none;
  }
  &__title {
    @include fonts_f(20px, 24px);
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
  }
  &__text {
    color: #a7a7a7;
    @include fonts_p(14px, 18px, 300);
  }

}
.zone__wrap-slider {
  margin: -20px -10px 0;
  padding-top: 10px;
}
.zone__item-product__link:hover {
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.7);
}
.zone__item-product:hover {
  .zone__item-product__link {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.7);
    margin: -5px;
    padding: 25px;
    transition: all 0.3s ease-in-out;
  }
  .zone__item-product__title {
    color: $orange;
  }
}
.fpad20 {
  padding-bottom: 20px;
}
.news__item {
  display: block;
  text-decoration: none;
  &__pic {
    margin: 0 0 35px;
    display: block;
    position: relative;
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
  &__date {
    display: inline-block;
    position: absolute;
    z-index: 10;
    bottom: -8px;
    left: 10px;
    height: 22px;
    padding: 0 7px;
    background-color: $orange;
    color: #181818;
    @include fonts_p(14px, 22px, 700);
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 22px solid $orange;
      border-left: 10px solid transparent;
      position: absolute;
      top: 0;
      right: 100%;
      z-index: 10;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 22px solid $orange;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 10;
    }
    &--black {
      background-color: #515144;
      color: #fff;
      &::before {
        border-bottom-color: #515144;
      }
      &::after {
        border-top-color: #515144;
      }
    }
  }
  &__title {
    @include fonts_f(20px, 24px);
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 0;
  }
  &__preview {
    color: #a7a7a7;
    @include fonts_p(14px, 20px, 300);
  }
  &:hover {
    .news__item__title {
      color: $orange;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
.fpad100 {
  padding-bottom: 100px;
}
.zone__footer {
  padding-top: 60px;
  background-color: #0a0a0a;
}
.zone__footer__nav {
  margin-left: -30px;
  .nav--soc {
    justify-content: flex-end;
  }
  &__caption {
    @include fonts_f(16px, 18px);
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 15px;
  }
  .nav--footer {
    li {
      padding-bottom: 15px;
      a {
        color: #a7a7a7;
        @include fonts_p(16px, 20px, 300);
        display: block;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.zone__footer__logo {
  display: block;
  padding-left: 27px;
}
.zone__footer__bottom {
  border-top: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  span {
    color: #6a6a6a;
    @include fonts_p(12px, 16px, 400);
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.zone__footer__row {
  padding-bottom: 40px;
}
.collapse--search {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  .zone__search-box {
    background-color: $orange;
    padding: 15px 0;
    &__form {
      position: relative;
      padding-right: 50px;
    }
    &__inp {
      width: 100%;
      display: block;
      border: none;
      background: transparent;
      height: 30px;
      color: #1a1a1a;
      &::placeholder {
        color: #1a1a1a;
        opacity: 1;
      }
    }
    &__submit {
      height: 30px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 30px;
      top: 0;
      z-index: 10;
      border: none;
      background-color: transparent;
      color: #1a1a1a;
      position: absolute;
      padding: 0;
    }
    &__close {
      height: 30px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      z-index: 10;
      border: none;
      background-color: transparent;
      color: #1a1a1a;
      position: absolute;
      padding: 0;
    }
  }
}
.zone__header__cart {
  position: relative;
  &__count {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -6px;
    height: 18px;
    padding: 0 5px;
    background-color: $orange;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include fonts_f(14px, 16px);
    color: #1a1a1a;

  }
}
.zone__page {
  border-top: 1px solid $orange;
  &__breadcrumbs {
    padding: 20px 0;
    li:not(:last-child) {
      padding-right: 15px;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: block;
        margin-left: 15px;
        width: 2px;
        height: 2px;
        background-color: $orange;
      }
    }
    li {
      display: inline-flex;
      align-items: center;
    }
    a {
      @include fonts_p(12px, 18px, 300);
      color: #a7a7a7;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      @include fonts_p(12px, 18px, 300);
      color: #a7a7a7;
    }
  }
}
.zone__text {
  h1 {
    @include fonts_f(36px, 40px);
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
  }
  p {
    color: #a7a7a7;
    @include fonts_p(16px, 24px, 300);
    margin: 0;
    b {
      font-weight: bold;
    }
    strong {
      font-weight: bold;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  h2 {
    @include fonts_f(24px, 30px);
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    &.zone__title-line {
      padding-bottom: 55px;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 25px;
        left: 0;
        width: 170px;
        height: 1px;
        background-color: $orange;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 12;
        bottom: 26px;
        left: 0;
        width: 65px;
        height: 0;
        border-bottom: 3px solid $orange;
        border-right: 3px solid transparent;
      }
    }
  }
  h3 {
    @include fonts_f(16px, 24px);
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      color: #a7a7a7;
      @include fonts_p(16px, 24px, 300);
      padding: 0 0 15px 30px;
      position: relative;
      &::after {
        transform: rotate(45deg);
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: #dafc01;
        position: absolute;
        top: 12px;
        left: 0;
      }
    }
  }
}
.tpad30 {
  padding-top: 30px;
}
.zone__page__404-desc__link {
  max-width: 280px;
}
.zone__page__404-desc {
  p {
    color: #fff !important;
  }
}
.zone__page__404-img {
  max-width: 520px;
  display: block;
}
.fpad50 {
  padding-bottom: 50px;
}
.zone__page__more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  padding: 15px 0;
  @include fonts_f(14px, 14px);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  svg {
    margin: 0 25px;
  }
  &:hover {
    border-color: $orange;
    color: $orange;
  }
}
.zone__page__pagination {
  li {
    padding: 0 3px;
    span {
      min-width: 12px;
      text-align: center;
      height: 20px;
      @include fonts_p(16px, 20px, 700);
      color: #898989;
      display: block;
      &.current {
        color: #fff;
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 10;
          top: 100%;
          left: 0;
          width: 100%;
          height: 0;
          border-top: 3px solid $orange;
          border-right: 3px solid transparent;
        }
      }
    }
  }
  .zone__page__nav {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898989;
    &:hover {
      color: $orange;
    }
  }
  .zone__page__item {
    min-width: 20px;
    text-align: center;
    height: 20px;
    position: relative;
    color: #898989;
    display: block;
    @include fonts_p(16px, 20px, 700);
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
}
.zone__page__date-top {
  position: relative;
}
.zone__page__full-img {
  margin-bottom: 40px;
  img {
    width: 100%;
    height: auto;
  }
}
.tpad50 {
  padding-top: 50px;
}
.zone__return-back {
  display: flex;
  justify-content: center;
}
.zone__page--guarantee {
  padding-bottom: 60px;
  background-color: #000;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-garant.jpg");
  background-size: cover;
}
.zone__guarantee-logo {
  padding-top: 40px;
  text-align: center;
  display: block;
  margin: 0;
}
.fpad80 {
  padding-bottom: 80px;
}
.tpad40 {
  padding-top: 40px;
}
.zone__alert-box {
  padding: 20px;
  position: relative;
  border: 9px solid $orange;
  &__top {
    position: absolute;
    z-index: 10;
    bottom: 100%;
    right: 0;
    height: 9px;
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 40px;
      top: 0;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #181818;
    }
    &::before {
      margin-right: 45px;
    }
  }
  &__bottom {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    height: 9px;
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 48px;
      bottom: 0;
      width: 50px;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #181818;
    }
    &::before {
      margin-left: 135px;
    }
  }
}
.fonts16 {
  color: #fff;
  @include fonts_p(16px, 20px, 500);
  text-decoration: none;
}
.zone__support__item {
  padding-left: 70px;
  min-height: 30px;

  background-repeat: no-repeat;
  &--time {
    margin-bottom: 30px;
    background-image: url("../img/time.svg");
    background-size: 25px 25px;
    background-position: 0 6px;
  }
  &--address {
    margin-bottom: 15px;
    background-image: url("../img/address.svg");
    background-size: 25px 28px;
    background-position: 0 6px;
    .fonts16 {
      display: block;
      padding: 9px 0 35px;

    }
  }
  &--phone {
    display: flex;
    align-items: center;
    background-image: url("../img/tel.svg");
    background-size: 14px 24px;
    background-position: 3px 50%;
  }
}
.fpad70 {
  padding-bottom: 70px;
}
.zone__partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 140px;
  position: relative;
  &__left {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    border-top: 6px solid #2e2e2e;
    border-bottom: 6px solid #2e2e2e;
    width: 12px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
  }
  &__right {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0;
    top: 0;
    border-top: 6px solid #2e2e2e;
    border-bottom: 6px solid #2e2e2e;
    width: 12px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
  }
  svg {
    display: block;
    max-width: 190px;
    max-height: 45px;
    width: auto;
    height: auto;
  }
  &:not(:hover) {
    svg {
      path {
        fill: #a7a7a7 !important;
      }
      polygon {
        fill: #a7a7a7 !important;
      }
    }
  }
}
.float-right {
  float: right;
  clear: right;
}
.float-left {
  float: left;
}
.clearfix {
  clear: both;
}
.zone__product {
  position: relative;
  z-index: 20;
  &__navigation {
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    right: 0;
    background-color: $orange;
    overflow: hidden;
    .navbar {
      padding: 0;
      li:not(:last-child) {
        padding-right: 35px;
      }
      .nav-link {
        padding: 0;
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        @include fonts_f(14px, 1);
        color: #181818;
        text-decoration: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 10;
          bottom: -5px;
          left: -3px;
          width: calc(100% + 6px);
          transition: all 0.3s ease-in-out;
          border-bottom: 3px solid #181818;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
        }
        &.active::after {
          bottom: 0;
        }
      }
    }
    &.active {
      position: fixed;
    }
  }
  &__top {
    padding-top: 130px;
    background-color: #000;
    background-image: url("../img/bg-product.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }
}
.zone__product__slider {
  display: flex;
  padding-bottom: 40px;
  &__min-img {
    flex-basis: 100px;
    max-width: 100px;
    width: 100px;
  }
  &__big-img {
    flex-basis: 100px;
    flex-grow: 1;
    width: calc(100% - 100px);
    max-width: calc(100% - 100px);
    position: relative;
  }
}
.zone__product-thumbnail {
  width: 70px;
  height: 470px;
  &__item {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    background-color: #2e2e2e;
    justify-content: center;
    border: 1px solid #2e2e2e;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
      height: 70px;

    }
  }
  .swiper-slide-thumb-active {
    .zone__product-thumbnail__item {
      border-color: #fff;
    }
  }
}
.zone__product-pic {
  width: 100%;
  &__item {
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
.zone__product-pic__slider__nav {
  display: none;
}
.zone__product__label {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  li {
    padding-bottom: 15px;
  }
  &__sale {
    display: inline-flex;
    align-items: center;
    border: 1px solid $orange;
    color: $orange;
    @include fonts_f(20px, 1);
    padding: 2px;
    min-width: 25px;
    justify-content: center;
  }
}
.tpad25 {
  padding-top: 25px;
}
.fpad25 {
  padding-bottom: 25px;
}
.fpad15 {
  padding-bottom: 15px;
}
.zone__product__color {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #2e2e2e;
  img {
    display: block;
    margin-right: 15px;
  }
  span {
    color: #a7a7a7;
    @include fonts_p(14px, 18px, 500);
  }
  &.active {
    border-color: #fff;
    span {
      color: #fff;
    }
  }
  &:hover {
    border-color: #fff;
    span {
      color: #fff;
    }
  }
}
.zone__product__price {
  &__old-value {
    color: #a7a7a7;
    @include fonts_p(16px, 24px, 400);
    text-decoration: line-through;
    padding-bottom: 3px;
    & + .zone__product__price__value {
      color: #dafc01 !important;
    }
  }
  &__value {
    color: #fff;
    @include fonts_p(30px, 36px, bold);
    .b-rub {
      font-weight: 400;
    }
  }
}
.zone__product__properties__item {
  background-color: #222;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-size: auto 100%;
  &--text-left {
    background-position: 100% 50%;

    .zone__product__properties__item__desc  {
      padding-left: 100px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 97px;
        height: 0;
        border-bottom: 3px solid $orange;
        border-right: 3px solid transparent;
      }
    }
  }
  &--text-right {
    background-position: 0 50%;
    .zone__product__properties__item__desc  {
      padding-right: 100px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
        width: 97px;
        height: 0;
        border-bottom: 3px solid $orange;
        border-left: 3px solid transparent;
      }
    }
  }
  &__desc {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 2px solid $orange;
    min-height: 310px;
    flex-direction: column;
    justify-content: center;
  }
}
.zone__product__properties {
  padding-top: 100px;
}
.zone__product__properties__min-desc {
  img {
    display: block;
    margin-bottom: 25px;
  }
}
.zone__caption-min-line {
  position: relative;
  padding-bottom: 40px !important;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    width: 65px;
    height: 0;
    border-bottom: 3px solid $orange;
    border-right: 3px solid transparent;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    width: 170px;
    height: 1px;
    background-color: $orange;
  }
}
.zone__product__banner {
  background-size: auto 100%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  &__row {
    height: 463px;
    align-items: center;
  }
  &__wrap {
    display: flex;
    align-items: center;
    &__ico {
      width: 170px;
      flex-basis: 170px;
      height: 170px;
      max-width: 170px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      text-align: center;
      padding: 10px;
      @include fonts_f(16px, 20px);
      background: url("../img/border.svg") 50% 50% no-repeat;
      background-size: contain;
      text-transform: uppercase;
      b {
        display: block;
        font-weight: normal;
        font-size: 48px;
        line-height: 1;
      }
    }
    &__desc {
      flex-basis: 100px;
      flex-grow: 1;
      padding-left: 60px;
      @include fonts_f(24px, 28px);
      text-transform: uppercase;
      color: #fff;
      strong {
        font-weight: normal;
      }
    }
  }
}
.zone__color-orange {
  color: $orange !important;
}
.zone__product__specification {
  padding: 90px 0 80px;
  background: #0a0a0a url("../img/bg-spec.jpg") 100% 100% no-repeat;
}
.zone__title-line2 {
  display: inline-flex;
  align-items: center;
  padding-bottom: 40px;
  margin: 0;
  @include fonts_f(30px, 34px);
  text-transform: uppercase;
  color: #fff;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    width: 65px;
    height: 0;
    border-bottom: 3px solid $orange;
    border-right: 3px solid transparent;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $orange;
  }
}
.zone__product__sizes {
  padding: 90px 0 70px;
  background: url("../img/size-footer.svg") 50% 100% repeat-x;
  background-size: auto 35px;
}
.zone__product__gallery {
  padding: 90px 0 70px;
  background-color: #0a0a0a;
}

.zone__product__compare {
  padding-top: 80px;
  padding-bottom: 80px;
}
.zone__product__props-list {
  padding-top: 80px;
  padding-bottom: 30px;
  .container {
    background: url("../img/box.png") 100% 0 no-repeat;
    min-height: 400px;
  }
}
.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
.zone__product__props {
  padding-bottom: 20px;
  display: block !important;
  li {
    border-bottom: 1px solid #1b1b1b;
    &:hover {
      border-bottom-color: $orange;
    }
  }
  &__item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    dt {
      @include fonts_p(16px, 20px, 300);
      margin-bottom: 0;
      color: #fff;
    }
    dd {
      @include fonts_p(16px, 20px, 500);
      margin-bottom: 0;
      color: #fff;
    }
  }
  &--v2 {
    li {
      border-bottom: 1px solid #2e2e2e;
      &:hover {
        border-bottom-color: $orange;
      }
    }
  }
}
.zone__product__gallery__item {
  padding-bottom: 30px;
  &__link {
    display: block;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      background:rgba(0,0,0,0.5) url("../img/zoom.svg") 50% 50% no-repeat;
      background-size: 65px auto;
    }
    img {
      height: 280px;
      width: 100%;
      object-fit: cover;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}
.swiper-wrapper.zone__product__gallery__row {
  width: auto;
  height: auto;
}
.zone__product__compare__wrap {
  position: relative;
  margin: 0 -15px;
  .swiper-container {
   padding-right: 15px;
    padding-left: 15px;
  }
  .swiper-slide {
    width: auto;
  }
}
.zone__product__compare__item {
  background-color: #1e1e1e;
  &__top {
    padding-bottom: 15px;
  }
  .zone__item-product__desc {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .zone__item-product__title {
      flex-grow: 1;
      padding-bottom: 20px;
    }
    .zone__item-product__price {
      display: flex;
      flex-direction: column;
      height: 35px;
      .zone__product__price__value {
        margin-top: auto;
        font-size: 18px;
        line-height: 20px;
      }
      .zone__product__price__old-value {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 0;
      }
    }
  }
}
.zone__product__compare__nav-pc {
  position: absolute;
  z-index: 100;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  width: 48px;
  height: 48px;
  border: 1px solid #dafc01;
  color: #898989;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  &:hover {
    color: #fff;
  }
  &.button-prev {
    left: 0;
  }
  &.button-next {
    right: 0;
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}
.zone__product__compare__item__mob-nav {
  display: none;
}
.zone__product__compare__item__props-list {
  display: block;
  padding: 0 20px 20px;
  li:not(:last-child) {
    border-bottom: 1px solid #2e2e2e;
  }
  .zone__product__compare__item__props {
    display: block;
    padding: 8px 0;
    margin: 0;
    dt {
      color: #a7a7a7;
      padding-bottom: 5px;
      @include fonts_p(12px, 14px, 300)
    }
    dd {
      color: #fff;
      @include fonts_p(14px, 16px, 500)
    }
  }
}
.zone__product__compare__switch {
  padding: 10px 0;
  display: none;
  position: absolute;
  z-index: 110;
  left: 0;
  top: 300px;
  &__caption {
    color: #fff;
    @include fonts_p(14px, 14px, 700);
    padding-bottom: 10px;
  }
  &__label {
    display: block;
    input {
      display: none;
      &:checked + span {
        color: #fff;
        &::before {
          right: 2px;
        }
        &::after {
          background-color: $orange;
        }
      }
    }
    span {
      color: #898989;
      @include fonts_p(14px, 18px, 400);
      display: inline-block;
      padding-right: 60px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 35px;
        height: 18px;
        background-color: #8a8a8a;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.2s ease-in-out;
      }
      &::before {
        content: "";
        display: block;
        width: 15px;
        height: 14px;
        background-color: #fff;
        z-index: 20;
        position: absolute;
        right: 18px;
        top: 2px;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
.zone__mob-col-comapre2,
.zone__bg-props-mob {
  display: none;
}
.zone__news-slider {
  position: relative;
  padding-bottom: 75px;
  .zone__news-slider__nav {
    position: absolute;
    z-index: 100;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    width: 48px;
    height: 48px;
    border: 1px solid #dafc01;
    color: #898989;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
    &:hover {
      color: #fff;
    }
    &--prev {
      left: -15px;
    }
    &--next {
      right: -15px;
    }
    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.zone__catalog-product {
  min-height: 100%;
  position: relative;
  .zone__item-product__title {
    padding-bottom: 15px;
  }
  &__price {
    padding-bottom: 10px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    .zone__product__price__old-value {
      padding-bottom: 0;
      font-size: 14px;
      line-height: 18px;
    }
    .zone__product__price__value {
      font-size: 18px;
      line-height: 24px;
      margin-top: auto;
    }
  }
  &:hover {
    .zone__item-product__title {
      color: $orange;
    }
  }
  .zone__product__label {
    margin: 20px 0 0 20px;
  }
}
.zone__mob-toggle,
.zone__filter-sb__mob-title {
  display: none;
}
.zone__filter-sb {
  &__item {
    padding-bottom: 20px;
    &__caption {
      position: relative;
      color: #fff;
      @include fonts_f(16px, 1);
      text-transform: uppercase;
      padding-bottom: 7px;
      border-bottom: 1px solid #2e2e2e;
      margin-bottom: 10px;
      &::after {
        content: "";
        display: block;
        width: 35px;
        height: 0;
        border-bottom: 3px solid #2e2e2e;
        border-left: 3px solid transparent;
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 0;
      }
    }
  }
  &__list-color {
    li {
      padding: 10px 20px 10px 0;
    }
    &__item {
      display: block;
      cursor: pointer;
      input {
        display: none;
        &:checked + span {
          border-color: #fff;
        }
      }
      span {
        display: block;
        padding: 4px;
        border: 1px solid transparent;
        img {
          display: block;
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }
  }
}
.zone__filter-sb__list-props {
  display: block;
  li {
    padding: 10px 0;
  }
}
.zone__checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  input {
    display: none;
    &:checked + span {
      color: #fff;
      &::after {
        border-color: #fff;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 30;
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        background-color: $orange;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
    min-height: 18px;
    padding-left: 28px;
    color: #a7a7a7;
    @include fonts_p(14px, 18px, 500);
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 0;
      left: 0;
      z-index: 10;
      border: 1px solid #a7a7a7;
    }
  }
  &:hover {
    span {
      color: #fff;
    }
  }
}
.ml-auto {
  margin-left: auto;
}
.mr-10 {
  margin-right: 10px;
}
.zone__filter-sb__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.zone__filter-sb__remove {
  display: inline-flex;
  align-items: center;
  height: 48px;
  text-decoration: none;
  &__pc {
    color: #898989;
    @include fonts_f(14px, 16px);
    text-transform: uppercase;
    border-bottom: 1px dotted #898989;
  }
  &__mob {
    display: none;
  }
  &:hover {
    .zone__filter-sb__remove__pc {
      color: #fff;
      border-bottom: 1px dotted #fff;
    }
  }
}
.zona__contacts {
  padding-bottom: 25px;
  border-bottom: 1px solid #2e2e2e;
  margin-bottom: 25px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 35px;
    height: 0;
    border-bottom: 3px solid #2e2e2e;
    border-left: 3px solid transparent;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
  }
}
.fonts24 {
  color: #fff;
  @include fonts_f(24px, 26px);
  text-transform: uppercase;
}
.zona__contacts__item {
  padding-left: 70px;
  background-repeat: no-repeat;
  &--address {
    background-image: url(../img/address.svg);
    background-size: 25px 28px;
    background-position: 22px 3px;
  }
  &--phone {
    background-image: url(../img/tel.svg);
    background-size: 14px 24px;
    background-position: 25px 0;
    a {
      color: #fff;
      @include fonts_p(24px, 1, bold);
      text-decoration: none;
      display: block;
    }
  }
  &--email {
    background-image: url(../img/email.svg);
    background-size: 24px 20px;
    background-position: 22px 6px;
    a {
      text-decoration: none;
    }
  }
}
.zone__page--brand {
  background: #000 url("../img/bg-brend.png") 0 0 repeat;
  min-height: 600px;
}
.zone__brands-desc {
  padding-top: 130px;
}
.zone__brands-desc__img {
  display: block;
  margin: -40px auto 0;
}
.fpad40 {
  padding-bottom: 40px;
}
.zone__adv-ico {
  height: 165px;
}
.lpad35 {
  padding-left: 35px;
}
.zone__brends-bord  {
  padding: 80px 0;
  position: relative;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 110px;
    height: 0;
    border-top: 3px solid $orange;
    border-right: 3px solid transparent;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 0;
    border-bottom: 3px solid $orange;
    border-left: 3px solid transparent;
  }
}
.h2 {
  @include fonts_f(24px, 26px);
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.zone__btn-anchor {
  display: flex;
  align-items: center;
  width: 270px;
  height: 48px;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  @include fonts_f(14px, 1);
  text-transform: uppercase;
  border: 1px solid $orange;
  transition: all 0.3s ease-in-out;
  svg {
    margin-left: auto;
  }
  &:hover {
    background-color: $orange;
    color: #181818;
    svg {
      path {
        fill: #181818 !important;
      }
    }
  }
}
.zone__tab-top {
  padding-bottom: 40px;
  .nav-tabs {
    position: relative;
    border-bottom: 1px solid #6e6e6e;
    .nav-item:not(:last-child) {
      margin-right: 80px;
    }
    .zone__link-tab {
      display: flex;
      height: 46px;
      align-items: center;
      text-decoration: none;
      color: #a7a7a7;
      @include fonts_f(16px, 24px);
      text-transform: uppercase;
      &.active {
        color: #fff;
      }
    }
    .zone__active-tab {
      position: absolute;
      bottom: -2px;
      height: 4px;
      background-color: $orange;
      transform: skew(-45deg);
      transition: all 0.5s ease-in-out;
    }
  }
}
.pr30 {
  padding-right: 30px;
}
.zone__delivery {
  min-height: 100%;
  padding: 25px 20px 20px;
  border-top: 1px solid $orange;
  border-bottom: 1px solid $orange;
  position: relative;
  background-color: #1e1e1e;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 67px;
    height: 0;
    border-top: 3px solid #dafc01;
    border-right: 3px solid transparent;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 0;
    right: 0;
    width: 67px;
    height: 0;
    border-bottom: 3px solid #dafc01;
    border-left: 3px solid transparent;
  }
  &__title {
    min-height: 70px;
    color: #fff;
    @include fonts_f(16px, 20px);
    text-transform: uppercase;
  }
  .zone__delivery__list {
    display: block;
    li {
      padding: 15px 0;
      @include fonts_p(14px, 18px, 400);
      color: #fff;
      span {
        color: #a7a7a7;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #2c2c2c;
      }
    }
  }
}
.zone__cart__item {
  margin-top: 10px;
  background-color: #1e1e1e;
  position: relative;

  .zone__product__label {
    margin: 15px 0 0 15px;
  }
  &__row {
    align-items: center;
  }
  .zone__item-product__img {
    height: 170px;
    overflow: hidden;
    &::after {
      box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.75);
    }
  }
  .zone__item-product__title {
    flex-basis: 60%;
    max-width: 60%;
    text-decoration: none;
    padding-right: 15px;
    padding-bottom: 0;
    &:hover {
      color: $orange;
    }
  }
  &__col-color {
    flex-basis: 20%;
    max-width: 20%;
    img {
      display: block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
  &__col-price {
    flex-basis: 20%;
    max-width: 20%;
    margin-left: auto;
  }
  .zone__product__price__old-value {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 0;
  }
  .zone__product__price__value {
    color: #fff !important;
    font-size: 18px;
    line-height: 24px;

  }
}
.zone__cart__item__col-itog-price {
  position: relative;
  padding-right: 80px;
  .zone__cart__item__col-count {
    flex-basis: 50%;
    max-width: 50%;
    .zone__box-quantity {
      margin: 0 auto;
    }
  }
  .zone__cart__item__col-itog-price {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 10px;
  }
  .zone__cart__item__del {
    position: absolute;
    z-index: 10;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    color: #878787;
    right: 40px;
    top: 50%;
    margin-top: -20px;
    &:hover {
      color: #fff;
    }
  }
}
.zone__box-quantity {
  display: flex;
  width: 120px;
  height: 48px;
  background-color: #181818;
  &__nav {
    display: block;
    position: relative;
    height: 48px;
    max-width: 48px;
    flex-basis: 48px;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 2px;
      background-color: #878787;
      margin: -1px 0 0 -6px;
    }
    &--plus {
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 12px;
        background-color: #878787;
        margin: -6px 0 0 -1px;
      }
    }
    &:hover {
      &::after,
      &::before {
        background-color: #fff;
      }
    }
  }
  &__inp {
    flex-basis: 30px;
    flex-grow: 1;
    width: 100%;
    height: 48px;
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    @include fonts_p(14px, 48px, 400);
  }
}
.zone__cart__footer {
  margin-left: auto;
  border-top: 1px solid $orange;
  padding: 25px 0 0 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 300px;
  max-width: 415px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 110px;
    height: 0;
    border-top: 3px solid #dafc01;
    border-right: 3px solid transparent;
  }
  &__btn {
    padding-top: 15px;
  }
}
.zone__cart__footer__row {
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  dt {
    flex-basis: 160px;
    @include fonts_p(16px, 24px, 400);
    color: #fff;
    b {
      font-size: 18px;
      font-weight: bold;
    }
    .zone__cart__footer__count {
      margin-left: 3px;
      @include fonts_f(16px, 24px);
      color: $orange;
    }
  }
  dd {
    flex-basis: 160px;
    flex-grow: 1;
    @include fonts_p(16px, 24px, 400);
    color: #fff;
    text-align: left;
    b {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
.zone__cart__promo {
  padding: 30px 0;
  &__caption {
    @include fonts_f(16px, 24px);
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  &__form {
    display: flex;
    &__inp {
      flex-basis: 150px;
      flex-grow: 1;
      padding-right: 20px;
      input {
        display: block;
        width: 100%;
        height: 48px;
        border: 1px solid #a7a7a7;
        padding: 10px;
        @include fonts_p(16px, 26px, 400);
        color: #fff;
        background: transparent;
        &:focus,
        &:hover{
          outline: none;
        }
      }
    }
  }

}
.zone__item-bank {
  padding: 0 20px 15px 0;
}