body {
  font-family: 'PT Root UI', sans-serif;
  background-color: #181818;
  color: #fff;
}

.zone__header {
  background-color: #1a1a1a;
  min-height: 80px;
  position: relative;
  z-index: 100;

  &__logo {
    display: block;
  }

  &__menu {
    & > li:not(:last-child) {
      padding-right: 45px;
    }

    & > li {
      position: relative;
      z-index: 100;

      & > a {
        display: flex;
        height: 80px;
        align-items: center;

        &.dropdown-toggle {
          &:after {
            margin-left: 5px;
            border-top-color: #dafc01;
          }
        }

        &:hover,
        &.active,
        &.show {
          color: #fff;
        }

      }
    }

    a {
      @include fonts_f(16px, 20px);
      color: #a7a7a7;
      text-decoration: none;
    }

    .dropdown-menu {
      width: 260px;
      background-color: #0a0a0a;
      border-bottom: 1px solid #dafc01;
      padding: 10px 0;
      margin-left: -20px;
      margin-top: 0;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        width: 110px;
        height: 0;
        border-top: 5px solid #dafc01;
        border-right: 5px solid transparent;
      }

      .dropdown-item {
        padding: 5px 20px;
        display: block;
        font-size: 14px;

        &:hover,
        &:focus {
          color: #fff;
          background: transparent;
        }
      }
    }
  }
  .zone__header__ico {
    li {
      padding: 0 15px;
      a {
        color: #fff;
        display: flex;
        text-decoration: none;
        &:hover {
          color: $orange;
        }
      }
      button {
        color: #fff;
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        &:hover {
          color: $orange;
        }
        &:not(.collapsed) {
          color: $orange;
        }
      }
    }
  }
}

.nav--soc {
  align-items: center;
  justify-content: center;

  li {
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    a {
      display: block;
      color: #dafd01;

      &:hover {
        svg {
          .soc-1 {
            fill: #dafd01 !important;
          }

          .soc-2 {
            fill: #1a1a1a !important;
            stroke-width: 0 !important;
            stroke-miterlimit: 0 !important;
          }
        }
      }
    }
  }
}

.zone__home-slider {
  position: relative;

  &__item {
    height: 600px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 120px;

    &__title {
      @include fonts_f(48px, 50px);
      text-transform: uppercase;
      color: #fff;
      padding-bottom: 20px;
      margin: 0;
    }

    &__adv {
      flex-direction: column;
      padding-bottom: 40px;

      li {
        padding-left: 30px;
        color: #a7a7a7;
        @include fonts_p(16px, 20px, 300);
        padding-bottom: 15px;
        position: relative;

        &::after {
          transform: rotate(45deg);
          content: "";
          display: block;
          width: 16px;
          height: 1px;
          background: #dafc01;
          position: absolute;
          top: 10px;
          left: 0;
        }
      }
    }
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  transform: skew(-45deg);
  background-color: rgba(255, 255, 255, 0.251);
  width: 37px;
  height: 8px;

  &-active {
    background-color: #fff;
  }
}

.zone__btn {
  display: inline-flex;
  position: relative;
  padding: 0 30px 0 0;
  height: 48px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30px;
    height: 48px;
    background: url("../img/btn-bg-right.svg") 100% 50% no-repeat;
    background-size: auto 48px;
  }

  span {
    display: flex;
    position: relative;
    z-index: 10;
    height: 48px;
    background: url("../img/btn-bg-left.svg") 0 50% no-repeat;
    background-size: auto 48px;

    align-items: center;
    @include fonts_f(18px, 20px);
    text-transform: uppercase;
    padding-left: 30px;
    color: #dafc01;
  }

  &:hover {
    &::after {
      background-image: url("../img/btn-bg-right-hover.svg");
    }

    span {
      background-image: url("../img/btn-bg-left-hover.svg");
      color: #1a1a1a;
    }
  }
  &--w100 {
    width: 100%;
    display: flex;
    span {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
}

.tpad100 {
  padding-top: 100px;
}

.fpad30 {
  padding-bottom: 30px;
}

.zone__category-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  padding: 35px;
  height: 280px;
  @include fonts_f(24px, 30px);
  text-transform: uppercase;
  text-decoration: none;
  &--big {
    height: 590px;
  }
  &:hover {
    color: $orange;
  }
}
.zone__slider-product {
  position: relative;
  margin-bottom: 50px;
  &:not(.swiper-container-initialized) {
    .zone__slider-product__list {
      display: flex;
      flex-wrap: wrap;
      .swiper-slide {
        flex-basis: 25%;
      }
    }
  }
}
.zone__title {
  padding: 20px 0 50px;
  @include fonts_f(48px, 50px);
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.zone__wrap-slider__footer {
  display: flex;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  padding-top: 40px;
  .zone__slider-product__nav {
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-basis: 40px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a7a7a7;
    &:hover {
      color: $orange;
    }
  }
  .zone__wrap-slider__footer__scroll {
    flex-grow: 1;
    flex-basis: 100px;
    padding: 0 35px;
    transform: skew(-45deg);
    .swiper-scrollbar {
      height: 1px;
      background-color: #a7a7a7;
    }
  }
}
.zone__item-product {
  padding: 10px;
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    position: relative;
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      position: relative;
      z-index: 100;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin: -10px 0 0 -10px;
      box-shadow: 0px 0px 80px 20px rgba(255,255,255,0.75);
      background-color: rgba(255,255,255,0.2);
    }
  }
  &__link {
    padding: 20px;
    display: block;
    background-color: #1e1e1e;
    text-decoration: none;
  }
  &__title {
    @include fonts_f(20px, 24px);
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
  }
  &__text {
    color: #a7a7a7;
    @include fonts_p(14px, 18px, 300);
  }

}
.zone__wrap-slider {
  margin: -20px -10px 0;
  padding-top: 10px;
}
.zone__item-product:hover {
  .zone__item-product__link {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.7);
    margin: -5px;
    padding: 25px;
    transition: all 0.3s ease-in-out;
  }
  .zone__item-product__title {
    color: $orange;
  }
}
.fpad20 {
  padding-bottom: 20px;
}
.news__item {
  display: block;
  text-decoration: none;
  &__pic {
    margin: 0 0 35px;
    display: block;
    position: relative;
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
  &__date {
    display: inline-block;
    position: absolute;
    z-index: 10;
    bottom: -8px;
    left: 10px;
    height: 22px;
    padding: 0 7px;
    background-color: $orange;
    color: #181818;
    @include fonts_p(14px, 22px, 700);
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-bottom: 22px solid $orange;
      border-left: 10px solid transparent;
      position: absolute;
      top: 0;
      right: 100%;
      z-index: 10;
    }
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 22px solid $orange;
      border-right: 10px solid transparent;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 10;
    }
    &--black {
      background-color: #515144;
      color: #fff;
      &::before {
        border-bottom-color: #515144;
      }
      &::after {
        border-top-color: #515144;
      }
    }
  }
  &__title {
    @include fonts_f(20px, 24px);
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 20px 0;
  }
  &__preview {
    color: #a7a7a7;
    @include fonts_p(14px, 20px, 300);
  }
  &:hover {
    .news__item__title {
      color: $orange;
    }
  }
}
img {
  max-width: 100%;
  height: auto;
}
.fpad100 {
  padding-bottom: 100px;
}
.zone__footer {
  padding-top: 60px;
  background-color: #0a0a0a;
}
.zone__footer__nav {
  margin-left: -30px;
  .nav--soc {
    justify-content: flex-end;
  }
  &__caption {
    @include fonts_f(16px, 18px);
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 15px;
  }
  .nav--footer {
    li {
      padding-bottom: 15px;
      a {
        color: #a7a7a7;
        @include fonts_p(16px, 20px, 300);
        display: block;
        text-decoration: none;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.zone__footer__logo {
  display: block;
  padding-left: 27px;
}
.zone__footer__bottom {
  border-top: 1px solid #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  span {
    color: #6a6a6a;
    @include fonts_p(12px, 16px, 400);
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.zone__footer__row {
  padding-bottom: 40px;
}
.collapse--search {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 0;
  .zone__search-box {
    background-color: $orange;
    padding: 15px 0;
    &__form {
      position: relative;
      padding-right: 50px;
    }
    &__inp {
      width: 100%;
      display: block;
      border: none;
      background: transparent;
      height: 30px;
      color: #1a1a1a;
      &::placeholder {
        color: #1a1a1a;
        opacity: 1;
      }
    }
    &__submit {
      height: 30px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 30px;
      top: 0;
      z-index: 10;
      border: none;
      background-color: transparent;
      color: #1a1a1a;
      position: absolute;
      padding: 0;
    }
    &__close {
      height: 30px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      top: 0;
      z-index: 10;
      border: none;
      background-color: transparent;
      color: #1a1a1a;
      position: absolute;
      padding: 0;
    }
  }
}
.zone__header__cart {
  position: relative;
  &__count {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: -6px;
    height: 18px;
    padding: 0 5px;
    background-color: $orange;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include fonts_f(14px, 16px);
    color: #1a1a1a;

  }
}
.zone__page {
  border-top: 1px solid $orange;
  &__breadcrumbs {
    padding: 20px 0;
    li:not(:last-child) {
      padding-right: 15px;
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: block;
        margin-left: 15px;
        width: 2px;
        height: 2px;
        background-color: $orange;
      }
    }
    a {
      @include fonts_p(12px, 18px, 300);
      color: #a7a7a7;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      @include fonts_p(12px, 18px, 300);
      color: #a7a7a7;
    }
  }
}
.zone__text {
  h1 {
    @include fonts_f(36px, 40px);
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
  }
  p {
    color: #a7a7a7;
    @include fonts_p(16px, 24px, 300);
    margin: 0;
    b {
      font-weight: bold;
    }
    strong {
      font-weight: bold;
    }
  }
  h2 {
    @include fonts_f(24px, 30px);
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    &.zone__title-line {
      padding-bottom: 55px;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 25px;
        left: 0;
        width: 170px;
        height: 1px;
        background-color: $orange;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 12;
        bottom: 26px;
        left: 0;
        width: 65px;
        height: 0;
        border-bottom: 3px solid $orange;
        border-right: 3px solid transparent;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      color: #a7a7a7;
      @include fonts_p(16px, 24px, 300);
      padding: 0 0 15px 30px;
      position: relative;
      &::after {
        transform: rotate(45deg);
        content: "";
        display: block;
        width: 16px;
        height: 1px;
        background: #dafc01;
        position: absolute;
        top: 12px;
        left: 0;
      }
    }
  }
}
.tpad30 {
  padding-top: 30px;
}
.zone__page__404-desc__link {
  max-width: 280px;
}
.zone__page__404-desc {
  p {
    color: #fff !important;
  }
}
.zone__page__404-img {
  max-width: 520px;
  display: block;
}
.fpad50 {
  padding-bottom: 50px;
}
.zone__page__more-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  padding: 15px 0;
  @include fonts_f(14px, 14px);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  svg {
    margin: 0 25px;
  }
  &:hover {
    border-color: $orange;
    color: $orange;
  }
}
.zone__page__pagination {
  li {
    padding: 0 3px;
    span {
      min-width: 20px;
      text-align: center;
      height: 20px;
      @include fonts_p(16px, 20px, 700);
      color: #898989;
      display: block;
      &.current {
        color: #fff;
        position: relative;
      }
    }
  }
  .zone__page__nav {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #898989;
    &:hover {
      color: $orange;
    }
  }
  .zone__page__item {
    min-width: 20px;
    text-align: center;
    height: 20px;
    position: relative;
    color: #898989;
    display: block;
    @include fonts_p(16px, 20px, 700);
    text-decoration: none;
    &:hover {
      color: $orange;
    }
  }
}
.zone__page__date-top {
  position: relative;
}
.zone__page__full-img {
  margin-bottom: 40px;
  img {
    width: 100%;
    height: auto;
  }
}
.tpad50 {
  padding-top: 50px;
}
.zone__return-back {
  max-width: 280px;
  margin: 0 auto;
}
.zone__page--guarantee {
  padding-bottom: 60px;
  background-color: #000;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/bg-garant.jpg");
  background-size: cover;
}
.zone__guarantee-logo {
  padding-top: 40px;
  text-align: center;
  display: block;
  margin: 0;
}
.fpad80 {
  padding-bottom: 80px;
}
.tpad40 {
  padding-top: 40px;
}
.zone__alert-box {
  padding: 20px;
  position: relative;
  border: 9px solid $orange;
  &__top {
    position: absolute;
    z-index: 10;
    bottom: 100%;
    right: 0;
    height: 9px;
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 40px;
      top: 0;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #181818;
    }
    &::before {
      margin-right: 45px;
    }
  }
  &__bottom {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    height: 9px;
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 48px;
      bottom: 0;
      width: 50px;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #181818;
    }
    &::before {
      margin-left: 135px;
    }
  }
}
.fonts16 {
  color: #fff;
  @include fonts_p(16px, 20px, 500);
  text-decoration: none;
}
.zone__support__item {
  padding-left: 70px;
  min-height: 30px;

  background-repeat: no-repeat;
  &--time {
    margin-bottom: 30px;
    background-image: url("../img/time.svg");
    background-size: 25px 25px;
    background-position: 0 6px;
  }
  &--address {
    margin-bottom: 15px;
    background-image: url("../img/address.svg");
    background-size: 25px 28px;
    background-position: 0 6px;
    .fonts16 {
      display: block;
      padding: 9px 0 35px;

    }
  }
  &--phone {
    display: flex;
    align-items: center;
    background-image: url("../img/tel.svg");
    background-size: 14px 24px;
    background-position: 3px 50%;
  }
}
.fpad70 {
  padding-bottom: 70px;
}
.zone__partners {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: 140px;
  position: relative;
  &__left {
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0;
    border-top: 6px solid #2e2e2e;
    border-bottom: 6px solid #2e2e2e;
    width: 12px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
  }
  &__right {
    position: absolute;
    z-index: 1;
    height: 100%;
    right: 0;
    top: 0;
    border-top: 6px solid #2e2e2e;
    border-bottom: 6px solid #2e2e2e;
    width: 12px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 10;
      bottom: 0;
      right: 0;
      width: 6px;
      height: 6px;
      background-color: #2e2e2e;
    }
  }
  img {
    display: block;
    max-width: 190px;
    max-height: 45px;
    width: auto;
    height: auto;
  }
}
.float-right {
  float: right;
  clear: right;
}
.float-left {
  float: left;
}
.clearfix {
  clear: both;
}
.zone__product {
  position: relative;
  z-index: 100;
  .zone__product__navigation {
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
    right: 0;
    background-color: $orange;
  }
  &__top {
    padding-top: 130px;
    background-color: #000;
  }
}