.pc-hidden,
.zone__product__properties__item__mob-img,
.zone__product__sizes__mob,
.zone__product__gallery__slider__nav {
  display: none;
}
@media screen and (max-width: 1199px) {
  .zone__header__menu > li:not(:last-child) {
    padding-right: 30px;
  }
  .zone__product__props-list .container {
    background-size: 420px auto;
  }
}

@media screen and (max-width: 991px) {
  .pc-hidden {
    display: block;
  }
  .only-pc,
  .zone__product__navigation {
    display: none !important;
  }
  .zone__header__col-nav {
    padding: 0;
    background-color: #181818;
    &:not(.show) {
      display: none;
    }
    position: absolute;
    z-index: 120;
    top: 0;
    left: 0;
  }
  .zone__header__row {
    height: 60px;
  }
  .zone__header {
    min-height: 60px;
  }
  .zone__header__ico {
    justify-content: flex-end !important;
    li:last-child {
      padding-right: 0;
    }
  }
  .zone__header__mob-nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zone__header__mob-nav-open {
    height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    cursor: pointer;
  }
  .zone__header__mob-nav-top__close {
    height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
  }
  .zone__header__menu {
    flex-direction: column;

    & > li {
      padding-right: 0 !important;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #1e1e1e;
      & > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .zone__header__menu {
    border-top: 1px solid $orange;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 40%;
      height: 0;
      border-top: 5px solid $orange;
      border-right: 5px solid transparent;
    }
  }
  .zone__header__mob-nav-bottom {
    padding: 100px 0 30px;
    border-bottom: 1px solid $orange;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 100;
      bottom: 0;
      right: 0;
      width: 40%;
      height: 0;
      border-bottom: 5px solid $orange;
      border-left: 5px solid transparent;
    }
  }
  .zone__header__menu > li > a.dropdown-toggle:not(.show):after {
    transform: rotate(-90deg);
  }
  .zone__header__menu .dropdown-menu {
    width: 100%;
    top: auto !important;
    left: auto !important;
    transform: none !important;
    position: relative !important;
    background-color: transparent;
    border-bottom: none;
    border-top: 1px solid #1e1e1e;
    li {
      padding: 0 15px;
      max-width: 720px;
      margin: 0 auto;
      a {
        color: #a7a7a7;
        @include fonts_p(14px, 18px, 400);
        text-transform: none;
      }
    }
  }
  .zone__header__menu .dropdown-menu::after {
    display: none;
  }
  .zone__header__menu > li > a {
    height: 50px;
  }
  .zone__header__menu .dropdown-menu {
    margin-left: 0;
  }
  .zone__header__menu .dropdown-menu .dropdown-item {
    padding: 5px 0;
  }
  .zone__title {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 20px;
  }
  .zone__footer__logo {
    padding-left: 0;
  }
  .zone__footer__nav {
    margin-left: 0;
  }
  .zone__page__404-img {
    margin: 0 auto 20px;
  }
  .zone__page__404-desc {
    text-align: center;
  }
  .zone__page__404-desc__link {
    margin: 0 auto;
  }
  .zone__page__breadcrumbs-product {
    background-color: #000;
  }
  .zone__product__top {
    padding-top: 0;
  }
  .zone__product__slider {
    margin-top: 20px;
  }
  .zone__product__properties {
    padding-top: 30px;
  }
  .zone__product__properties__item--text-left .zone__product__properties__item__desc {
    padding-left: 30px;
  }
  .zone__product__properties__item--text-right .zone__product__properties__item__desc {
    padding-right: 30px;
  }
  .zone__product__specification,
  .zone__product__sizes {
    padding: 30px 0 20px;
  }
  .zone__product__props-list .container {
    padding-top: 250px;
    background-position: 50% 0;
  }
  .zone__product__props-list {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .zone__product__gallery,
  .zone__product__compare {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .zone__product__compare__wrap {
    margin: 0;
    .swiper-container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .zone__mob-toggle {
    display: block;
    padding-bottom: 20px;
    &__open {
      display: flex;
      position: relative;
      align-items: center;
      padding: 0 10px;
      height: 36px;
      color: #fff;
      @include fonts_f(14px, 20px);
      border-top: 1px solid #2e2e2e;
      border-bottom: 1px solid #2e2e2e;
      text-decoration: none;
      &::after {
        content: "";
        display: block;
        width: 35px;
        height: 0;
        border-bottom: 3px solid #2e2e2e;
        border-left: 3px solid transparent;
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 0;
      }
    }
  }
  .zone__filter-sb {
    display: none;
    &.open {
      display: block;
      position: absolute;
      z-index: 200;
      top: 0;
      left: 0;
      width: 100vw;
      background-color: #1a1a1a;
      border-bottom: 1px solid $orange;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 100;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 0;
        border-bottom: 5px solid $orange;
        border-left: 5px solid transparent;
      }
    }
  }
  .zone__filter-sb__mob-title {
    display: block;
    height: 60px;
    border-bottom: 1px solid $orange;
    position: relative;
    margin-bottom: 20px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 0;
      width: 40%;
      height: 0;
      border-top: 5px solid #dafc01;
      border-right: 5px solid transparent;
    }
  }
  .zone__filter-sb__wrap {
    margin: 0 auto;
    max-width: 696px;
    width: 100%;
  }
  .zone__filter-sb__mob-title__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
    span {
      color: #fff;
      @include fonts_f(18px, 1);
      text-transform: uppercase;
    }
    .zone__filter-sb__close {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #fff;
    }
  }
  .zone__filter-sb__footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    .zone__btn {
      width: 100%;
      span {
        width: 100%;
        font-size: 14px;
        justify-content: center;
      }
    }
  }
  .zone__filter-sb__remove__pc {
    display: none;
  }
  .zone__filter-sb__remove__mob {
    display: flex;
    align-items: center;
    @include fonts_f(14px, 1);
    color: #898989;
  }
  .zone__filter-sb__remove {
    display: flex;
    position: relative;
    padding: 0 30px 0 0;
    height: 48px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    width: 100%;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 30px;
      height: 48px;
      background: url(../img/btn-bg2.svg) 100% 50% no-repeat;
      background-size: auto 48px;
    }
    .zone__filter-sb__remove__mob {
      width: 100%;
      justify-content: center;
      background: url(../img/btn-bg2.svg) 0 50% no-repeat;
      background-size: auto 48px;
      padding-left: 30px;
      display: flex;
      height: 48px;
      align-items: center;
    }
  }
  .zone__filter-sb__footer {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .lpad35 {
    padding-left: 0;
  }
  .zone__brands-desc {
    padding-top: 0;
  }
  .zone__brands-desc__img {
    display: block;
    margin-top: 20px;
  }
  .zone__page--brand {
    height: auto;
    padding-bottom: 50px;
  }
  .zone__adv-ico {
    height: auto;
    padding-bottom: 20px;
    padding-top: 30px;
    svg {
      display: block;
      margin: 0 auto;
    }
  }
  .zone__brends-bord {
    padding: 30px 0;
  }
}


@media screen and (max-width: 767px) {
  .zone__header__menu > li > a {
    max-width: 510px;
  }
  .zone__header__menu .dropdown-menu li {
    max-width: 540px;
  }
  .zone__home-slider__item {
    padding-top: 30px;
  }
  .zone__home-slider__item__title {
    font-size: 24px;
    line-height: 30px;
  }
  .tpad100 {
    padding-top: 40px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .order-sm-0 {
    order: -1;
  }
  .zone__category-link {
    height: 400px;
    font-size: 18px;
    line-height: 20px;
    &.zone__category-link--big {
      height: 400px;
    }
  }
  .fpad100 {
    padding-bottom: 50px;
  }
  .mob-hidden {
    display: none;
  }

  .zone__footer__logo {
    svg {
      display: block;
      margin: 0 auto 25px;
    }
  }
  .zone__footer__nav .nav--soc {
    justify-content: center;
  }
  .news__item__pic {
    margin-bottom: 20px;
  }
  .zone__text {
    h1 {
      font-size: 30px;
      line-height: 34px;
    }
    p {
      font-size: 14px;
    }
    h2 {
      font-size: 18px;
      line-height: 20px;
    }
  }
  .zone__page__date-top {
    margin-top: 10px;
    .news__item__date {
      left: 0;
    }
  }
  .zone__page__full-img {
    margin-bottom: 20px;
  }
  .tpad50 {
    padding-top: 25px;
  }
  .zone__page .zone__title {
    padding-top: 0;
  }
  .zone__page--guarantee {
    background-image: url("../img/bg-garant-mob.jpg");
    background-size: 100% auto;
  }
  .zone__guarantee-logo img {
    width: 180px !important;
    height: auto !important;
  }
  .fpad80 {
    padding-bottom: 30px;
  }
  .tpad40 {
    padding-top: 20px;
  }
  .zone__support__item {
    padding-left: 50px;
  }
  .zone__product__properties__item--text-left .zone__product__properties__item__desc {
    padding-left: 0;
  }
  .zone__product__properties__item--text-right .zone__product__properties__item__desc {
    padding-right: 0;
  }
  .zone__product__properties__item {
    background-color: transparent !important;
    background-image: none !important;
  }
  .zone__product__properties__item__desc {
    padding: 0;
    .zone__product__properties__item__mob-img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
    h2 {
      position: relative;
      padding-bottom: 40px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 20px;
        left: 0;
        width: 65px;
        height: 0;
        border-bottom: 3px solid $orange;
        border-right: 3px solid transparent;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 20px;
        left: 0;
        width: 170px;
        height: 1px;
        background-color: $orange;
      }
    }
  }
  .zone__product__properties__item--text-left .zone__product__properties__item__desc::after,
  .zone__product__properties__item--text-right .zone__product__properties__item__desc::after {
    display: none;
  }
  .zone__product__properties__item__desc {
    border-bottom: none;
  }
  .zone__product__properties__min-desc {
    padding-bottom: 15px;
  }
  .zone__product__banner__row {
    .zone__product__banner__wrap {
      flex-direction: column;
      .zone__product__banner__wrap__ico {
        margin: 0 auto 20px;
      }
    }
    .zone__product__banner__wrap__desc {
      padding-left: 0;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      br {
        display: none;
      }
    }
  }
  .zone__product__props__item {
    dt {
      font-size: 14px;
    }
    dd {
      font-size: 14px;
    }
  }
  .zone__title-line2 {
    font-size: 24px;
    line-height: 30px;
  }
  .beer-slider {
    display: none;
  }
  .zone__product__sizes__mob {
    display: block;
    img {
      display: block;
      margin: 0 auto 15px;
    }
  }
  .zone__product__sizes {
    background-size: auto 12px;
  }
  .zone__product__compare__nav-pc {
    display: none !important;
  }
  .zone__product__compare__item__mob-nav {
    display: flex;
    margin-top: 15px;
    border-top: 1px solid #2e2e2e;
    padding-bottom: 10px;
    .zone__product__compare__item-nav {
      height: 26px;
      width: 26px;
      max-width: 26px;
      flex-basis: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #898989;
      &:hover {
        color: #fff;
      }
    }
    .zone__product__compare__item__mob-nav__page {
      flex-basis: 100px;
      flex-grow: 1;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      @include fonts_p(12px, 14px, 500);
      span {
        padding: 0 3px;
        color: #dafc01;
      }
    }
  }
  .zone__product__compare__item__top {
    padding-bottom: 0;
    margin-bottom: 80px;
    border-left: 10px solid #191919;
    border-right: 10px solid #191919;
    .zone__item-product__img {
      height: 140px;
      overflow: hidden;
      &::after {
        box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.2);
      }
    }
    .zone__item-product__title {
      font-size: 16px;
      line-height: 20px;
      min-height: 65px;
    }
  }
  .zone__product__compare__switch {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #181818;
  }
  .zone__product__compare__item .zone__item-product__desc {
    padding: 0 10px;
  }
  .zone__mob-no-pad {
    padding-left: 0;
    padding-right: 0;
  }
  .zone__mob-col-comapre2 {
    display: block;
  }
  .zone__product__compare__item__props-list {
    padding: 0;
    border-bottom: 1px solid #2e2e2e;
  }
  .zone__product__compare__item__props-list .zone__product__compare__item__props {
    padding-left: 10px;
    padding-right: 10px;
  }
  .zone__news-slider .zone__news-slider__nav {
    top: 150px;
    &--prev {
      left: 0;
    }
    &--next {
      right: 0;
    }
  }
  .zone__filter-sb__wrap {
    max-width: 516px;
  }
  .zona__contacts {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .fonts24 {
    font-size: 18px;
    line-height: 20px;
  }
  .fpad15 {
    padding-bottom: 5px;
  }
  .zona__contacts__item {
    padding-left: 40px;
  }
  .zona__contacts__item--address {
    background-position: 0 3px;
  }
  .zona__contacts__item--phone {
    background-position: 0 0;
  }
  .zona__contacts__item--email {
    background-position: 0 3px;
  }
  .h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .zone__btn-anchor {
    display: none;
  }
  .zone__tab-top .nav-tabs {
    flex-wrap: nowrap;
    justify-content: space-between;
    .nav-item {
      &:not(:last-child) {
          margin-right: 0;
      }
      a {
        height: auto;
        min-height: 46px;
        padding: 10px 0;
      }
    }
  }
  .fpad70 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 574px) {
  .zone__header__menu > li > a {
    width: 100%;
    max-width: 574px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zone__product__banner__row {
    height: 400px;
  }
  .zone__header__menu .dropdown-menu li {
    max-width: 574px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .zone__header__mob-nav-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .zone__home-slider__item__desc {
    display: flex;
    flex-direction: column;
    height: 490px;
    .zone__home-slider__item__link {
      margin-top: auto;
      text-align: center;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 20px;
  }
  .zone__category-link {
    height: 230px;
    &.zone__category-link--big {
      height: 230px;
    }
  }
  .zone__slider-product {
    margin-bottom: 30px;
    .swiper-slide {
      width: 210px;
    }
  }
  .zone__wrap-slider__footer {
    max-width: 574px;
    padding-top: 25px;
    height: 30px;
    .zone__slider-product__nav {
      display: none;
    }
  }
  .zone__wrap-slider__footer .zone__wrap-slider__footer__scroll {
    padding-right: 15px;
    padding-left: 15px;
  }
  .zone__item-product__title,
  .news__item__title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  .zone__item-product__text,
  .news__item__preview {
    font-size: 12px;
    line-height: 16px;
  }
  .zone__footer__bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    span {
      padding: 5px 0;
      display: block;
    }
  }
  .zone__header__logo__icon {
    width: 120px !important;
    height: 16px !important;
  }
  .zone__header__logo {
    display: flex;
    align-items: center;
    height: 20px;
  }
  .zone__header .zone__header__ico svg {
    height: 20px;
    width: 20px;
  }
  .zone__header .zone__header__ico button {
    height: 20px;
  }
  .zone__header .zone__header__ico li {
    height: 20px;
  }
  .zone__page__404-img {
    max-width: 250px;
  }
  .zone__header .zone__header__ico li {
    padding: 0 10px;
    &:last-child {
      padding-right: 0;
    }
  }
  .zone__alert-box {
    padding: 10px;
    border-width: 5px;
  }
  .zone__alert-box__top,
  .zone__alert-box__bottom {
    height: 5px;
  }
  .zone__alert-box__top::after, .zone__alert-box__top::before {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #181818;
    right: 15px;
  }
  .zone__alert-box__bottom::after, .zone__alert-box__bottom::before {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #181818;
    width: 25px;
    left: 25px;
  }
  .zone__alert-box__bottom::before {
    margin-left: 45px;
  }
  .zone__btn--mob-w100 {
    display: flex;
    width: 100%;
    span {
      flex-grow: 1;
      text-align: center;
      justify-content: center;
    }
  }
  .zone__btn span {
    font-size: 14px;
  }

  .zone__product__slider__min-img {
    display: none;
  }
  .zone__product__slider__big-img {
    width: 100%;
    min-width: 100%;
  }
  .zone__product__top {
    background-image: url("../img/bg-product-mob.jpg");
    background-position: 50% 0;
    background-size: 100% auto;
    background-color: #000;
    h1 {
      font-size: 24px !important;
      line-height: 30px !important;
    }
  }
  .zone__product-pic__slider__nav {
    display: flex;
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    color: #898989;
    left: 0;
    &.button-next {
      right: 0;
      left: auto;
    }
  }
  .zone__product-pic__item {
    height: 330px;
  }
  .zone__product__slider {
    padding-bottom: 0;
  }
  .zone__text {
    ul li {
      font-size: 14px;
      line-height: 18px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .fpad50 {
    padding-bottom: 30px;
  }
  .zone__product__specification {
    background-image: none;
  }
  .swiper-wrapper.zone__product__gallery__row {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    flex-wrap: nowrap;
    position: relative;
    .zone__product__gallery__item {
      padding: 0;
      img {
        height: 350px;
      }
    }
  }
  .zone__product__gallery__slider__nav {
    display: flex;
    position: absolute;
    z-index: 20;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    left: 0;
    align-items: center;
    justify-content: center;
    top: 50%;
    color: #898989;
    &.button-next {
      right: 0;
      left: auto;
    }
  }
  #compareSlider1 .zone__product__compare__item__top {
    border-left-width: 15px;
  }
  #compareSlider2 .zone__product__compare__item__top {
    border-right-width: 15px;
  }
  #compareSlider1 .zone__product__compare__item__props-list .zone__product__compare__item__props {
    padding-left: 15px;
  }
  #compareSlider2 .zone__product__compare__item__props-list .zone__product__compare__item__props {
    padding-right: 15px;
  }
  .zone__news-slider .zone__news-slider__nav {
    top: 120px;
  }
  .zone__filter-sb__wrap {
    padding-left: 12px;
    padding-right: 12px;
  }
  .zone__filter-sb__list-color li {
    padding-right: 10px;
  }

}

@media screen and (max-width: 440px) {
  .zone__support__item--address .fonts16 {
    padding-top: 0;
  }
  .row {
    margin-right: -10px;
    margin-left: -10px;
    & > * {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .zone__product__color {
    padding: 10px;
    img {
      width: 20px;
      height: auto;
      margin-right: 10px;
    }
    span {
      font-size: 10px;
    }
  }
  .zone__product__price__old-value {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 0;
  }
  .zone__product__price__value {
    font-size: 24px;
    line-height: 30px;
  }
  .zone__btn--h60 {
    height: 42px;
    span {
      background-size: auto 42px;
      height: 42px;
    }
    &::after {
      background-size: auto 42px;
      height: 42px;
    }
  }
  .zone__product__props-list .container {
    padding-top: 200px;
    background-size: 300px auto;
  }
  .swiper-wrapper.zone__product__gallery__row .zone__product__gallery__item img {
    height: 280px;
  }
  .zone__product__compare__sliders {
    .row {
      margin-left: -15px;
      margin-right: -15px;
      & > * {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .zone__news-slider .zone__news-slider__nav {
    top: 100px;
  }
  .zone__product__compare__item .zone__item-product__desc .zone__item-product__title {
    padding-bottom: 5px;
  }
  .zone__filter-sb__remove {
    height: 43px;
    padding-right: 20px;
    &::after {
      content: "";
      width: 20px;
      height: 43px;
      background: url(../img/btn2-mob.svg) 100% 50% no-repeat;
      background-size: auto 43px;
    }
    span {
      background-image: url(../img/btn2-mob.svg);
      height: 43px;
      background-size: auto 43px;
      padding-left: 20px;
    }
  }
  .zone__filter-sb__remove .zone__filter-sb__remove__mob {
    background-image: url("../img/btn2-mob.svg") !important;
    height: 43px !important;
    background-size: auto 43px !important;
  }
  .zone__btn {
    height: 43px;
    padding-right: 20px;
    &::after {
      content: "";
      width: 20px;
      height: 43px;
      background: url(../img/btn-mob.svg) 100% 50% no-repeat;
      background-size: auto 43px;
    }
    span {
      background-image: url(../img/btn-mob.svg);
      height: 43px;
      background-size: auto 43px;
      padding-left: 20px;
    }
  }
}